.field__asset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 695px;
}
.area__asset {
    padding: 15px;
    border: 2px solid #fb00ffd4;
    border-radius: 4px;
    background: #090e18;
    width: 205px;
    cursor: pointer;
}
.area__asset:hover {
    border-color: var(--selected-item);
}
.asset__name {
    z-index: 2;
}
.asset__name:hover > div:first-child {
    display: none;
}
.asset__name:hover > div:last-child {
    display: block;
}
.asset__name > div:first-child{
    display: block;
}
.asset__name > div:last-child {
    display: none;
}
.asset__column {
    display: flex;
    flex-direction: column;
}
.asset__data {
    display: flex;
    justify-content: space-between;
}
.asset__row {

}
.asset__column:nth-child(1) {
    padding-right: 20px;
}