.field__asset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.area__asset {
    padding: 15px;
    border: 1px solid #ffff00;
    border-radius: 4px;
    background: #000;
    width: 200px;
    cursor: pointer;
}
.area__asset:hover {
    border-color: var(--selected-item);
}
.asset__column {
    display: flex;
    flex-direction: column;
}
.asset__data {
    display: flex;
    justify-content: space-between;
}
.asset__row {

}
.asset__column:nth-child(1) {
    padding-right: 20px;
}